@model SiteOfShoes.Models.Products.ShoeModel
@{ Layout = "_AdminLayout"; }

<div class="container">
    <h2>Изменение обуви:</h2>
    <form method="post">
        <div class="form-group">
            <label asp-for="Name">Название:</label>
            <input asp-for="Name" class="form-control" placeholder="Ботинок">
        </div>
        <div class="form-group">
            <label asp-for="PhotoLink">Ссылка на фото</label>
            <input asp-for="PhotoLink" class="form-control" placeholder="hhtp://tagduck.jpg">
        </div>
        <div class="form-group">
            <label asp-for="Manufacturer">Производитель</label>
            <input asp-for="Manufacturer" class="form-control" placeholder="ООО Рога и копыта">
        </div>
        <div class="form-group">
            <select asp-for="TypeOfShoeId" class="custom-select">
                <option> Тип обуви</option>
                @foreach (SiteOfShoes.Entities.ProductTypes.Shoes.TypeOfShoe type in ViewBag.TypesOfShoe)
                {
    <option value="@type.Id">@type.Name</option>}
            </select>
        </div>
        <div class="form-group">
            <select asp-for="TypeOfSeasonId" class="custom-select">
                <option> Сезонность</option>
                @foreach (SiteOfShoes.Entities.ProductTypes.Shoes.TypeOfSeason type in ViewBag.TypesOfSeason)
                {
    <option value="@type.Id">@type.Name</option>
}
            </select>
        </div>
        <div class="form-group">
            <select asp-for="TypeOfSexId" class="custom-select">
                <option> Пол</option>
                @foreach (SiteOfShoes.Entities.ProductTypes.Shoes.TypeOfSex type in ViewBag.TypesOfSex)
                {
    <option value="@type.Id">@type.Name</option>}
            </select>
        </div>
        <div class="form-group">
            <select asp-for="TypeOfDestinationId" class="custom-select">
                <option>Назначение</option>
                @foreach (SiteOfShoes.Entities.ProductTypes.Shoes.TypeOfDestination type in ViewBag.TypesOfDestination)
                {
    <option value="@type.Id">@type.Name</option>}
            </select>
        </div>
        
        <div class="form-group">
            <select asp-for="SizesOfShoeIds" multiple="multiple" >
            @foreach (SiteOfShoes.Entities.ProductTypes.Shoes.SizeOfShoe size in ViewBag.SizesOfShoe)
            {
                    if (Model.SizesOfShoeIds.Contains(size.Id))
                    {
                        <option selected value="@size.Id">@size.Name</option>
                    }
                    else
                    {
                        <option value="@size.Id">@size.Name</option>
                    }
                }
            </select>
        </div>


        <div class="form-group">
            <label asp-for="Color">Цвет</label>
            <input asp-for="Color" class="form-control" placeholder="Синий">
        </div>
        <div class="form-group">
            <label asp-for="Description">Описание</label>
            <input asp-for="Description" class="form-control" placeholder="ООО Рога и копыта">
        </div>
        <div class="form-check">
            @Html.CheckBoxFor(m => m.isSaled)
            @*@Html.LabelFor(m => m.isSaled)*@
            @*<input class="form-check-input" type="checkbox" value="" asp-for="isSaled" id="flexCheckDefault">*@
            <label class="form-check-label" asp-for="isSaled">
                Есть ли скидка?
            </label>
        </div>
        <div class="form-group">
            <label asp-for="SalePercent">Проценты скидки:</label>
            <input asp-for="SalePercent" class="form-control" placeholder="59" />
        </div>
        <div class="form-group">
            <label asp-for="Cost">Цена:</label>
            <input asp-for="Cost" class="form-control" placeholder="123" />
        </div>
        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
</div>

