@model IEnumerable<SiteOfShoes.Entities.ProductTypes.Shoes.TypeOfShoe>
@{
    Layout = "_AdminLayout";
}

<a class="badge badge-primary" href="@Url.Action("AddTypeOfShoe")">Добавить тип обуви</a>

<h2>Список типов обуви:</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var type in Model){
            <tr>
                <th scope="row">@type.Id</th>
                <td>@type.Name</td>
                <td>
                    @Html.ActionLink("Изменить", "EditTypeOfShoe", new { id=type.Id }) |
                    @Html.ActionLink("Удалить", "DeleteTypeOfShoe", new { id=type.Id }) 
                </td>
            </tr>
        }
    </tbody>
</table>