@{ ViewData["Title"] = "Home Page"; }


@*Старое
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@



<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Похоже лучшее, что есть для ваших ног.</h1>
        </div>
    </div>
</header>




<!-- Section-->
<section class="py-5">
    <div class="text-center text-black">
        <h1 class="display-5 fw-bolder">Самые выгодные предложения</h1>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (SiteOfShoes.Entities.Products.Product item in ViewBag.Actions)
            {
<div class="col mb-5">
    <a class="text-decoration-none" href="@Url.Action("Product", "Product", new { id = item.Id })">
        <div class="card h-100">
            <!-- Sale badge-->
           
            @if (item.isSaled) { 
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
            }
            <!-- Product image-->
            <img class="card-img-top" src="@item.PhotoLink" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">@item.Name</h5>
                    <!-- Product price-->
                    @if (item.isSaled)
                    {
                        <s>@item.Costs.Last().Cost</s> @(item.Costs.Last().Cost/100*(100-item.SalePercent)) <span>р.</span>
                    }
                    else
                    {
                @item.Costs.Last().Cost <span>р.</span>
            }
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="@Url.Action("AddToCart", "Ordering", new { id = item.Id })">В корзину</a></div>
            </div>
        </div>
    </a>
</div>            }
        </div>
    </div>
</section>



<!-- Section-->
<section class="py-5">
    <div class="text-center text-black">
        <h1 class="display-5 fw-bolder">Cамые дорогие кроссовки</h1>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (SiteOfShoes.Entities.Products.Product item in ViewBag.Sneakers)
            {
<div class="col mb-5">
    <a class="text-decoration-none" href="@Url.Action("Product", "Product", new { id = item.Id })">
        <div class="card h-100">
            <!-- Sale badge-->
           
            @if (item.isSaled) { 
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
            }
            <!-- Product image-->
            <img class="card-img-top" src="@item.PhotoLink" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">@item.Name</h5>
                    <!-- Product price-->
                    @if (item.isSaled)
                    {
                        <s>@item.Costs.Last().Cost</s> @(item.Costs.Last().Cost/100*(100-item.SalePercent)) <span>р.</span>
                    }
                    else
                    {
                @item.Costs.Last().Cost <span>р.</span>
            }
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="@Url.Action("AddToCart", "Ordering", new { id = item.Id })">В корзину</a></div>
            </div>
        </div>
    </a>
</div>            }
        </div>
    </div>
</section>


<!-- Section-->
<section class="py-5">
    <div class="text-center text-black">
        <h1 class="display-5 fw-bolder">Зимняя обувь</h1>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (SiteOfShoes.Entities.Products.Product item in ViewBag.Boots)
            {
<div class="col mb-5">
    <a class="text-decoration-none" href="@Url.Action("Product", "Product", new { id = item.Id })">
        <div class="card h-100">
            <!-- Sale badge-->
            @if (item.isSaled)
            {
<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>}
            <!-- Product image-->
            <img class="card-img-top" src="@item.PhotoLink" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">@item.Name</h5>
                    <!-- Product price-->
                    @if (item.isSaled)
                    {
    <s>@item.Costs.Last().Cost</s> @(item.Costs.Last().Cost/100*(100-item.SalePercent)) <span>р.</span> }
                    else
                    {
    @item.Costs.Last().Cost <span>р.</span>}
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="@Url.Action("AddToCart", "Ordering", new { id = item.Id })">В корзину</a></div>
            </div>
        </div>
    </a>
</div>      }
        </div>
    </div>
</section>

<!-- Section-->
<section class="py-5">
    <div class="text-center text-black">
        <h1 class="display-5 fw-bolder">Качественные сланцы для жаркого лета</h1>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (SiteOfShoes.Entities.Products.Product item in ViewBag.Slances)
            {
<div class="col mb-5">
    <a class="text-decoration-none" href="@Url.Action("Product", "Product", new { id = item.Id })">
        <div class="card h-100">
            <!-- Sale badge-->
           
            @if (item.isSaled) { 
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
            }
            <!-- Product image-->
            <img class="card-img-top" src="@item.PhotoLink" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">@item.Name</h5>
                    <!-- Product price-->
                    @if (item.isSaled)
                    {
                        <s>@item.Costs.Last().Cost</s> @(item.Costs.Last().Cost/100*(100-item.SalePercent)) <span>р.</span>
                    }
                    else
                    {
                @item.Costs.Last().Cost <span>р.</span>
            }
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="@Url.Action("AddToCart", "Ordering", new { id = item.Id })">В корзину</a></div>
            </div>
        </div>
    </a>
</div>            }
        </div>
    </div>
</section>
