@model SiteOfShoes.Entities.Ordering.Cart.Cart

<script>
    function removeProductFromCart(cartId){
        $.ajax({
            url: `https://localhost:44334/api/CartItem/${cartId}`,
            method: 'Post',
            success: function(data) {
                location.reload();
            }
        });
    }
</script>

<div class="container">
    <section class="h-100 h-custom">
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                <div class="row g-0">
                    <div class="col-lg-8">
                    <div class="p-5">
                        <div class="d-flex justify-content-between align-items-center mb-5">
                        <h1 class="fw-bold mb-0 text-black">Корзина</h1>
                        <h6 class="mb-0 text-muted">@Model.CartItems.Count продуктов</h6>
                        </div>
                        @*Start*@
                        @foreach(var item in Model.CartItems){
                            <hr class="my-4">

                            <script>
                                function changeProductSize() {
                                    var newId = $("#@(item.Id + "_select")").val();
                                    $.ajax({
                                        url: `https://localhost:44334/api/CartItem/${@item.Id}/${newId}`,
                                        method: 'Get',
                                        success: function(data) {
                                        }
                                    });
                                };
                            </script>

                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img
                                        src="@item.Product.PhotoLink"
                                        class="img-fluid rounded-3" alt="@item.Product.Name">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <h6 class="text-black mb-0">@item.Product.Name</h6>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <select id="@(item.Id + "_select")" onchange="changeProductSize()" class="custom-select">
                                        <option> Размер</option>
                                        @foreach (SiteOfShoes.Entities.ProductTypes.Shoes.SizeOfShoe size in item.Product.SizesOfShoe)
                                        {
                                            <option value="@size.Id">@size.Name</option>}
                                    </select>
                                </div>  
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h6 class="mb-0">@item.Product.Costs[item.Product.Costs.Count-1].Cost. р.</h6>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a onclick="removeProductFromCart(@item.Id)" class="text-muted" style="cursor: pointer;"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        }
                        @*End*@

                        <hr class="my-4">

                    </div>
                    </div>
                    <div class="col-lg-4 bg-grey">
                    <div class="p-5">
                        <h3 class="fw-bold mb-5 mt-2 pt-1">Всего</h3>
                        <hr class="my-4">

                        <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase">@Model.CartItems.Count продуктов</h5>
                        <h5>@Model.GetSum() р.</h5>
                        </div>

                        <h5 class="text-uppercase mb-3">Доставка</h5>

                        <div class="mb-4 pb-2">
                        <select class="select">
                            <option value="1">Почта России</option>
                        </select>
                        </div>


                        <hr class="my-4">

                        <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Итоговая цена:</h5>
                        <h5>@Model.GetSum() р.</h5>
                        </div>
                        
                        <a href="@Url.Action("AddOrder", "Ordering")">
                        <button type="button" class="btn btn-dark btn-block btn-lg"
                        data-mdb-ripple-color="dark">Оформить</button>
                        </a>

                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
</div>